body {
  font-family: 'Poppins', sans-serif;
}

.navbar .navbar-brand img {
  width: 82px;
}

#header-content h1 {
  font-weight: bold;
}

.border-radius {
  border-radius: 20px;
}

.border-img-radius {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}